/dist/
/build/
/__pycache__/
/*.spec
*.exe
*.dll
*.pyd
*.so
*.dylib
.venv/
.env
.env.*
.vscode/
.idea/
tests/fixtures/*.pdf
tests/fixtures/*.png
tests/fixtures/*.jpg
docs/*.png
docs/*.jpg
docs/*.gif
docs/*.ico

**/__pycache__/
